* {
  margin: 0;
  padding: 0;
  font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
}
header,
section,
footer,
nav,
menu {
  display: block;
}
html {
  width: 100%;
  font-weight: 300;
  background-color: #f7f7f7;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.fa-1x {
  font-size: 1.2em;
  padding: 0 6px;
}
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -ms-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  transition: width 0.5s linear;
}
.container:after {
  clear: both;
}
nav {
  display: block;
  height: 60px;
  width: 100%;
  min-width: 1200px\9;
  line-height: 60px;
  color: #ffffff;
  background-color: #1e89e0;
}
nav h1 {
  float: left;
}
nav li {
  list-style: none;
  display: inline-block;
}
nav a:link,
nav a:visited {
  color: #ffffff;
}
nav .nav-item {
  float: left;
  margin-left: 30px;
}
nav .nav-item .active {
  background-color: #006bc7;
}
nav .nav-item li {
  padding: 0 30px;
  margin: -3px;
}
nav .nav-item li:hover {
  background-color: #0C77D1;
  cursor: pointer;
}
nav li[data-nav=brand] {
  position: relative;
}
nav li[data-nav=brand]:before {
  content: "hot!";
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 12px;
  width: 30px;
  line-height: 1.2em;
  font-size: .6em;
  text-align: center;
  background-color: #F00;
}
nav li[data-nav=brand]:after {
  content: "";
  position: absolute;
  top: 16px;
  right: 30px;
  height: 0;
  width: 0;
  overflow: hidden;
  border: 4px solid transparent;
  border-top-color: #F00;
}
nav .nav-link {
  float: right;
  margin-right: 150px;
  color: #a5d0f3;
}
nav .nav-link li {
  padding: 0 8px;
}
nav .nav-link li:hover {
  color: #ffffff;
  cursor: pointer;
}
nav .nav-profilebar {
  position: absolute;
  right: 0;
}
nav .nav-profilebar > a:hover,
nav .nav-profilebar > a:active {
  text-decoration: underline;
}
.nav-brand {
  text-indent: 2.4em;
  background: url(../img/eleme-logo.png) no-repeat;
}
li[data-nav=mobileApp] {
  position: relative;
}
li[data-nav=mobileApp]:hover > .nav-moblie {
  opacity: 1;
  top: 60px;
  z-index: 999;
  visibility: visible;
}
.nav-moblie {
  position: absolute;
  top: 95px;
  left: -36px;
  width: 200px;
  height: 132px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #999999;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.nav-moblie h3 {
  font-size: 1em;
  text-align: center;
  line-height: 2.4em;
}
.nav-moblie img {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 15px;
}
.nav-moblie > a {
  float: left;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 15px;
  background-color: #DDD;
}
.nav-moblie > a:link,
.nav-moblie > a:visited,
.nav-moblie > a:hover,
.nav-moblie > a:active {
  color: #000000;
}
.nav-moblie:before {
  content: "";
  position: absolute;
  top: -16px;
  right: 88px;
  width: 0;
  height: 0;
  z-index: 99999;
  overflow: hidden;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
.header-bar {
  width: 100%;
  height: 55px;
  line-height: 55px;
}
.header-bar .location {
  display: inline-block;
  font-size: 12px;
}
.header-bar .location-title {
  color: #999999;
}
.header-bar a {
  margin-left: 5px;
}
.header-bar a:link,
.header-bar a:visited,
.header-bar a:hover,
.header-bar a:active {
  color: #1e89e0;
}
.header-bar .search {
  position: absolute;
  top: 0;
  right: 0;
}
.header-bar .search input {
  position: absolute;
  right: 0;
  margin: 9px 0;
  padding: 5px;
  height: 25px;
  width: 285px;
  outline: 0;
  line-height: 25px;
  border: 1px solid #DDD;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header-bar .search input:focus {
  outline: none;
  box-shadow: 1px 1px 1px #DDD;
  width: 355px;
}
.header-bar .search span {
  position: relative;
  cursor: pointer;
}
.header-bar .search span i.fa-search {
  color: #999999;
}
.header-bar .search:after {
  content: "|";
  position: relative;
  right: 45px;
  color: #DDD;
}
.carousel {
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #DDD;
}
.carousel-list img {
  width: 100%;
  height: 80px;
}
.carousel-order {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 10px;
  padding-bottom: 5px;
  z-index: 10;
}
.carousel-order li {
  display: inline-block;
  float: left;
  width: 18px;
  height: 20px;
  margin-left: 3px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: .9em;
}
.carousel-order li.active,
.carousel-order li:hover {
  font-weight: 600;
  color: #ffffff;
  background-color: #FF5A00;
}
.menu-filter-item {
  position: relative;
  color: #999999;
  clear: both;
}
.menu-filter-item:after {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  width: 180px;
  height: 50px;
  z-index: 9999;
  background: url(../img/takeout.png) no-repeat;
}
.menu-filter-item .active {
  color: #1e89e0;
  border-bottom: 2px solid #1e89e0;
}
.menu-filter-item li {
  display: inline-block;
  float: left;
  padding: 8px 18px;
  cursor: pointer;
}
.menu-filter-item li:hover {
  color: #40A2F7;
  border-bottom: 2px solid #40A2F7;
}
.menu-filter-item h3 {
  font-size: 1.1em;
  font-weight: 400;
}
.menu-filter-list {
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  border-top: none;
  border-bottom: none;
  font-size: .9em;
  color: #999999;
  background-color: #ffffff;
}
.menu-filter-list dl {
  padding: 16px 10px;
  border-top: 1px solid #cccccc;
}
.menu-filter-list dt {
  display: inline-block;
  width: 80px;
  margin-left: 10px;
  line-height: 1.8em;
}
.menu-filter-list dd {
  display: inline;
  padding: 3px 8px;
  margin: 0 5px;
  line-height: 1.8em;
}
.menu-filter-list dd:hover {
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  background-color: #cccccc;
}
.menu-filter-list dd.selected {
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  background-color: #1e89e0;
}
.menu-filter-sort {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: .9em;
  border: 1px solid #DDD;
  border-top: none;
  background-color: #F7F7F7;
}
.menu-filter-sort > li {
  position: relative;
  line-height: 50px;
  float: left;
  width: 80px;
  cursor: pointer;
  text-align: center;
}
.menu-filter-sort > li:hover {
  color: #1e89e0;
}
.menu-filter-sort .menu-other {
  width: 105px;
}
.menu-filter-sort .menu-other:hover {
  background-color: #ffffff;
  box-shadow: 1px 2px 1px #999999;
}
.menu-filter-sort .menu-other:hover > .menu-sort-other {
  display: block;
}
.menu-filter-sort .menu-price {
  width: 145px;
}
.menu-filter-sort .menu-price:hover {
  background-color: #ffffff;
  box-shadow: 1px 2px 1px #999999;
}
.menu-filter-sort .menu-price:hover > .menu-sort-price {
  display: block;
}
.menu-sort-other,
.menu-sort-price {
  position: absolute;
  display: none;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #999999;
}
.menu-sort-other li,
.menu-sort-price li {
  display: block;
  color: #000000;
}
.menu-sort-other li:hover,
.menu-sort-price li:hover {
  color: #1e89e0;
}
.menu-filter-options {
  float: right;
  margin-top: -55px;
  padding: 10px 15px;
  border-left: 1px solid #DDD;
}
.menu-filter-options span {
  cursor: pointer;
}
.menu-filter-options span:hover {
  color: #1e89e0;
}
.shop {
  width: 100%;
  margin-top: 30px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.row {
  width: 100%;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: -2px;
}
.row .col-item {
  display: inline-block;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -1px;
  width: 25%;
  clear: both;
  border-bottom: 1px solid #DDD;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -ms-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.shop-item {
  position: relative;
  height: 120px;
  padding: 10px;
  cursor: pointer;
}
.shop-item:hover {
  background-color: #F7F7F7;
}
.shop-item:hover h2 {
  color: #1e89e0;
}
.shop-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  padding: 20px;
}
.shop-item time {
  position: absolute;
  top: 90px;
  left: 0;
  padding: 20px;
  display: block;
  width: 80px;
  color: #999999;
  font-size: .8em;
  text-align: center;
}
.shop-item-info {
  position: absolute;
  top: 0;
  left: 90px;
  padding-top: 15px;
  padding-left: 20px;
}
.shop-item-info h2 {
  font-size: 1.2em;
  line-height: 1.6em;
}
.shop-item-info span {
  font-size: .8em;
  line-height: 2em;
  color: #999999;
}
.shop-item-grade {
  padding-right: 3px;
}
.shop-item-grade i.fa-star {
  color: #FFC100;
}
.shop-attr-icon {
  position: absolute;
  top: 90px;
  left: 90px;
  padding-top: 16px;
  padding-left: 20px;
}
.shop-attr-icon span {
  display: inline-block;
  width: 18px;
  font-size: .8em;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  background-color: #cccccc;
}
.shop-more {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #999999;
}
footer {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #DDD;
  color: #999999;
}
.footer-link dl {
  float: left;
  padding: 10px 6% 0 0;
}
.footer-link dl dt {
  color: #000000;
  padding-bottom: 10px;
}
.footer-link dl dd {
  font-size: .8em;
  line-height: 30px;
  cursor: pointer;
}
.footer-link dl dd a {
  color: #999999;
}
.footer-link dl dd a:hover {
  color: #000000;
  text-decoration: underline;
}
aside {
  position: fixed;
  right: 6px;
  bottom: -200px;
  margin-right: 10px;
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #cccccc;
  z-index: 9999;
  cursor: pointer;
  -webkit-transition: bottom 0.7s ease-out;
  -moz-transition: bottom 0.7s ease-out;
  -ms-transition: bottom 0.7s ease-out;
  -o-transition: bottom 0.7s ease-out;
  transition: bottom 0.7s ease-out;
}
aside:hover {
  background-color: #1e89e0;
}
aside .top {
  position: absolute;
  right: 19px;
  top: -9px;
  text-align: center;
  display: block;
  font-size: .9em;
}
aside .top:after {
  content: "";
  position: absolute;
  top: 10px;
  right: -14px;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
}
.contact {
  position: relative;
  float: left;
  width: 240px;
  margin-left: 5%;
  padding-left: 40px;
  padding-bottom: 35px;
  border-left: 1px solid #DDD;
  font-size: .9em;
}
.contact dl {
  display: block;
  float: left;
}
.contact dt {
  display: inline-block;
  float: left;
  line-height: 45px;
  color: #000000;
}
.contact dd {
  display: inline-block;
  float: left;
  padding-right: 5px;
  line-height: 45px;
}
.contact dd a {
  cursor: pointer;
}
.contact dd a:link,
.contact dd a:visited,
.contact dd a:hover,
.contact dd a:active {
  color: #1e89e0;
}
.contact dd i {
  cursor: pointer;
}
.contact dd i.fa {
  line-height: 49px;
  cursor: pointer;
}
.contact dd i.fa-wechat:hover {
  color: #46F00A;
}
.contact dd i.fa-wechat:hover ~ .contact-wechat {
  display: block;
}
.contact dd i.fa-weibo:hover {
  color: #F21212;
}
.contact dd i.fa-renren:hover {
  color: #00F;
}
.contact-wechat {
  position: absolute;
  top: 132px;
  left: 75px;
  width: 120px;
  height: 160px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 3px 3px #cccccc;
  display: none;
}
.contact-wechat img {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 5px 5px -15px;
}
.contact-wechat p {
  line-height: 18px;
  font-size: .8em;
  text-align: center;
}
.contact-wechat:after {
  content: "";
  position: relative;
  top: -192px;
  left: 50px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
.app {
  float: right;
  padding-top: 10px;
}
.app img {
  float: left;
  width: 100px;
  height: 100px;
}
.app-info {
  float: left;
  width: 145px;
  padding-left: 15px;
}
.app-info h3 {
  color: #000000;
}
.app-info span {
  font-size: .8em;
  line-height: 35px;
}
.app-info a {
  padding: 2px 5px;
  border: 1px solid #DDD;
  color: #333333;
  font-size: .7em;
  background-color: #ffffff;
}
.copyright {
  padding-top: 85px;
  height: 60px;
  line-height: 60px;
  clear: both;
  text-align: center;
}
.copyright a {
  cursor: pointer;
}
.copyright a:link,
.copyright a:visited,
.copyright a:hover,
.copyright a:active {
  color: #1e89e0;
}
@media (max-width: 1280px) {
  .container {
    width: 94%;
  }
  .row {
    width: 100%;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: -2px;
  }
  .row .col-item {
    display: inline-block;
    margin-top: -4px;
    margin-left: -6px;
    margin-right: -1px;
    padding: 0 3px;
    width: 33%;
    clear: both;
    border-bottom: 1px solid #DDD;
  }
}
@media (max-width: 1080px) {
  .container {
    width: 96%;
  }
  .row .col-item {
    width: 33%;
  }
  nav {
    margin-bottom: 65px;
  }
  nav .nav-item {
    margin-left: 20%;
  }
  nav .nav-link {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  nav .nav-link li {
    height: 50px;
    padding-right: 18px;
    color: #1e89e0;
  }
  nav .nav-link li:hover {
    color: #0DADFA;
    border-bottom: 2px solid #1e89e0;
  }
  li[data-nav=mobileApp]:hover > .nav-moblie {
    opacity: 1;
    top: 52px;
    z-index: 999;
    visibility: visible;
  }
  .nav-moblie {
    z-index: -1;
    top: 75px;
    right: 228px;
    visibility: hidden;
  }
  .menu-filter-options {
    padding-right: 0;
    padding-left: 0;
    border: none;
  }
  .footer-link {
    margin-left: 5%;
  }
  .app {
    clear: both;
    float: left;
    margin-top: 50px;
    margin-left: 40%;
  }
}
@media (max-width: 960px) {
  .container {
    width: 100%;
  }
  .row .col-item {
    width: 33%;
  }
}
@media (max-width: 860px) {
  .container {
    min-width: 768px;
  }
  .row {
    width: 100%;
    margin-top: 4px;
  }
  .row .col-item {
    display: inline-block;
    margin-top: -4px;
    margin-left: -8px;
    width: 50%;
    clear: both;
    border-bottom: 1px solid #DDD;
  }
  nav .nav-item {
    margin-left: 14%;
  }
}
